{% extends "layout.html" %}

{% block title%}Hello from Flask{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Index</h1>
  <p class="important">  
    <h1>Hello, World!</h1>  
    
    <p class=important> COUCOU !</p>

    <p>config: <br/>{{ config }}</p>
    <p>request: <br/>{{ request }}</p>
    <p>session: <br/>{{ session }}</p>
    <p>g: <br/>{{ g }}</p>
    <p>get_flashed_messages() : <br/>{{ get_flashed_messages() }}</p>
    <p>get_flashed_messages(categories) : <br/>{{ get_flashed_messages(with_categories=true) }}</p>

{% endblock %}
